<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <%= link_to todolist_path(list) do %>
    <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg' %>
    <% end %>
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%= link_to list.title, todolist_path(list) %></span>
    </div>
  </div>
<% end %>
</div>